@font-face {
    font-family: "Source Sans Pro";
    src: url(fonts/SourceSansPro-Regular.otf);
}

:root {
    --main-gray: #EBEBEB;
    --dark-gray: #969798;
    --dark: #353535;
    --main-white: #EFEDEE;
    --orange: #ED802E;
}

body {
    font-size: 10px;
    color: white;
    background: linear-gradient(135deg,#FFB178 55%, #F5A66B 45%)
}

body, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
}

i {
    font-size: 0.6em;
}

/* button styling */
button {
    font-size: 3em;
    color: var(--dark-gray);
    background: var(--main-white);
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 0 rgba(138, 138, 138, 0.1), 0 4px 7px rgba(151, 151, 151, 0.15); ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 50ms ease-in;
}

button:active, #equals:active {
    box-shadow: none;
}

/* container */
.container {
    width: 375px;
    margin: 10em auto;
    padding: 45px 25px;
    background: var(--main-gray);
    box-shadow: 0 0 8px 13px rgba(138, 92, 40, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* display */
#display {
    width: 375px;
    margin-top: 25px;
    margin-bottom: 20px; 
    text-align: right;
    color: var(--dark);
    overflow-wrap: break-word;
}

#display > div:first-of-type {
    font-size: 6.5em;
}

#display > div:last-of-type {
    margin-right: 2px;
    font-size: 2.3em;
    color: var(--dark-gray);
    visibility: hidden;
}

/* grid */
#buttons {
    display: grid;
    gap: 25px;
    grid-template: repeat(5, 7.5em) / repeat(4, 7.5em);
}

.operator {
    grid-column-start: 4;
}

#divide {
    grid-row-start: 1;
}

#multiply {
    grid-row-start: 2;
}

#subtract {
    grid-row-start: 3;
}

#add {
    grid-row-start: 4;
}

#equals{
    box-shadow: 0 3px 0 rgba(138, 92, 40, 0.1), 0 4px 7px rgba(151, 92, 40, 0.15);
    color: white;
    background: var(--orange);
    grid-area: 5 / 3 / 5 / span 2;
}

/* error */
#error {
    font-size:  2em;
    color: red;
    text-align: center;
    display: none;
}
