@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.otf');
}

* {
    transition: all 70ms ease-out;
}

:root.light {
    --delete-img: url('./icons/delete-light.png');
    --background: 135deg, #ffb178 55%, #f5a66b 45%;
    --btn-background: #faf7f9;
    --cont-background: #ebebeb;
    --color-one: #9ca1a8;
    --color-two: #767c84;
    --color-three: #182229;
    --btn-shadow-top: white;
    --btn-shadow-bottom: 127, 127, 127;
    --cont-shadow-one: 192, 192, 192;
    --cont-shadow-two: 138, 92, 40;
}

:root.dark {
    --delete-img: url('./icons/delete-dark.png');
    --background: 135deg, #22303a 55%, #1d2831 45%;
    --btn-background: #273846;
    --cont-background: #243441;
    --color-one: #7f8b95;
    --color-two: #e47f31;
    --color-three: #faf7f9;
    --btn-shadow-top: #314352;
    --btn-shadow-bottom: 9, 15, 19;
    --cont-shadow-one: 33, 46, 57;
    --cont-shadow-two: 9, 15, 19;
}

body {
    height: 100vh;
    font-size: 9px;
    background: linear-gradient(var(--background));
    overflow-x: hidden;
}

body,
button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 7px 7px 7px;
    font-size: 20px;
    color: var(--color-three);
}

.container {
    width: 37.5em;
    margin: 3em auto;
    padding: 4.5em 2.5em;
    background: var(--cont-background);
    border-radius: 30px;
    box-shadow: 0 4px 0 rgba(var(--cont-shadow-one), 1), 0 4px 8px 10px rgba(var(--cont-shadow-two), 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* display */
#display {
    width: 100%;
    margin-bottom: 20px;
    color: var(--color-three);
    text-align: right;
    overflow: auto;
}

#display > div:first-of-type {
    min-height: 30px;
    margin-right: 2px;
    font-size: 2.3em;
    color: var(--color-one);
}

#display > div:last-of-type {
    min-height: 80px;
    font-size: 6.5em;
}

/* buttons */
button {
    font-size: 1.7rem;
    color: var(--color-one);
    background: var(--btn-background);
    border: none;
    border-top: 2px solid var(--btn-shadow-top);
    border-radius: 12px;
    box-shadow: 0 3px 0 rgba(var(--btn-shadow-bottom), 0.15), 0 8px 6px rgba(var(--btn-shadow-bottom), 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}

button:active,
#equals:active,
.active {
    border-width: 1px;
    box-shadow: none;
}

.operator,
#clear,
#delete,
#percent {
    color: var(--color-two);
}

#buttons {
    display: grid;
    grid-template: repeat(5, 7.5em) / repeat(4, 7.5em);
    gap: 2.5em;
}

.operator {
    grid-column-start: 4;
}

#divide {
    grid-row-start: 1;
}

#multiply {
    grid-row-start: 2;
}

#subtract {
    padding-bottom: 5px;
    grid-row-start: 3;
}

#add {
    grid-row-start: 4;
}

#equals {
    color: #faf7f9;
    background: #e47f31;
    border-top: 3px solid #fd8931;
    box-shadow: 0 2px 0 rgba(190, 105, 40, 0.9), 0 8px 6px rgba(var(--btn-shadow-bottom), 0.5);
    grid-area: 5 / 3 / 5 / span 2;
}

#delete img {
    content: var(--delete-img);
    width: 1.9rem;
}

/* theme inputs */
#theme {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: var(--color-three);
    font-size: 16px;
    cursor: pointer;
}

.radio-input {
    padding: 0 5px;
    display: inline-block;
    position: relative;
}

input[type='radio'] {
    display: none;
}

label:before {
    content: '';
    margin-right: 4px;
    width: 10px;
    height: 10px;
    background: none;
    border: 3px solid var(--color-three);
    border-radius: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
    cursor: pointer;
}

input[type='radio']:checked + label:before {
    background: var(--color-three);
}

/* footer and media queries */
footer {
    font-size: 2.1em;
    text-align: center;
    transition: all 150ms ease-in;
}

footer > a {
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--color-three);
    cursor: pointer;
}

footer span {
    font-weight: bold;
}

footer > a:hover {
    border-bottom: 2px solid var(--color-three);
}

@media (max-width: 1200px) {
    .container {
        width: 36.5em;
        border-radius: 22px;
    }

    #buttons {
        gap: 2.3em;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 6px;
    }

    button {
        border-radius: 9px;
    }

    .container {
        border-radius: 22px;
    }
}

@media (max-width: 500px) {
    button {
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(var(--btn-shadow-bottom), 0.15), 0 6px 4px rgba(var(--btn-shadow-bottom), 0.2);
    }

    h1 {
        font-size: 17px;
    }

    label {
        font-size: 14px;
    }

    .container {
        width: 35.7em;
        border-radius: 16px;
    }

    #buttons {
        gap: 1.9em;
    }

    #equals {
        box-shadow: 0 2px 0 rgba(190, 105, 40, 0.9), 0 6px 4px rgba(var(--btn-shadow-bottom), 0.5);
    }
}
